function Main.main 2
push constant 10
call String.new 1
push constant 105
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
call Apple.new 1
pop local 0
push local 0
call Apple.getName 1
pop local 1
push local 1
call Output.printString 1
pop temp 0
push constant 0
return
